
<!--イメージ画像 単色っぽいの-->
<div>

</div>

<!--紹介文-->
<div>
    <p>
        ようこそ、ながのCAKEへ！<br/>
        このサイトは、ケーキ販売のECサイトになります。<br/>
        会員でない方も商品の閲覧は来ますが、<br/>
        購入には会員登録が必要になります。
    </p>
</div>

<h2>新着商品</h2>

<%# @item.each do |item| %>
<ul>
    <li><%#= item.name %></li>
</ul>
<%# end %>

<p>
    <%= link_to "全ての商品を見る＞", items_path %>
</p>